.popup-form input[type=email]{box-sizing:border-box; font-family: 'Raleway', sans-serif; font-size:14px; line-height:19px; width:100%; color:#000; background:#fff; box-shadow:0 1px 1px rgba(0,0,0,.1); margin-bottom:15px; padding:13px; border-radius:5px;}
.popup-form div.submit,.form div.searchbtn{height:62px;}
.custom-checkbox label{margin-top: 40px;position: absolute;width: 200px;}
.successMessage{}
.errorMessage{}
.overlay{ position:absolute; top:0;left:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.85);background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; z-index:9999;color:white; text-align:center;display:none;}
.overlay img{ margin-top:70%;}
#successMessage{background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #52b152 51%, #83c783 100%, #005700 100%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(51%,#52b152), color-stop(100%,#83c783), color-stop(100%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#52b152 51%,#83c783 100%,#005700 100%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#52b152 51%,#83c783 100%,#005700 100%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#52b152 51%,#83c783 100%,#005700 100%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#52b152 51%,#83c783 100%,#005700 100%,#002400 100%); /* W3C */
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: none;
	}
#errorMessage{background: #f85032; /* Old browsers */
	background: -moz-linear-gradient(top, #f85032 0%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f85032 0%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f85032 0%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f85032 0%,#f02f17 71%,#e73827 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f85032 0%,#f02f17 71%,#e73827 100%); /* W3C */
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: none;
	}
.search-btn,.logout-btn{float:left; margin-top: 12px; margin-right:10px;}
.search-btn a{color:#fff; font-size:12px; font-weight:600; background:url(../images/searchhdr.png) no-repeat left top; padding-left: 25px; min-height: 17px; line-height: 17px;}
.logout-btn a{color:#fff; font-size:12px; font-weight:600; padding-left: 15px; min-height: 17px; line-height: 17px;}

.sort-by .filter-body ul li { /*width: 30%; margin-left: 5%;*/ width: 50%; float: left;  text-align:center; }
.sort-by .filter-body ul li:first-child { margin-left: 0; /*text-align: left;*/ }
.sort-by .filter-body ul li:last-child { /*text-align: right*/ }
.sort-by .filter-body ul li:first-child h4 { color: #505050; /*margin-right: 16px*/ }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { background: none !important; /*background: none repeat scroll 0% 0% #E6E6E6 !important;*/ border: 0px none !important; height: 47px !important; border-radius: 1px !important;}
.ui-slider { /*margin-top: 15px;*/}
.ui-slider-horizontal .ui-slider-range-min{ background:#00AFCA !important; border-radius:5px !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {width:1.25em; top: 0 !important; background: none repeat scroll 0% 0% #CA0202 !important;/* box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); border-radius: 7px !important; */position: relative; background: url('../images/sprite.png') no-repeat -2px -178px !important; cursor: pointer !important;}
.ui-slider .ui-slider-handle{ z-index:15 !important;}
#whentime { position: relative; top: -35px; font-size: 16px; font-weight: bold;text-transform: lowercase;z-index:9; text-align:center; color:#ffffff;}
#filterpopup #whentime { color:#333333;}
#filterpopup #whenslider{ border-radius:5px !important; margin-top:20px; background: none repeat scroll 0 0 #E6E6E6 !important; }
a.filter-icon.dine:hover, li.selected a.filter-icon.dine { background: url('../images/sprite.png') no-repeat scroll -73px -79px transparent !important;}
a.filter-icon.take {  background: url('../images/sprite.png') no-repeat scroll -110px -4px transparent !important; cursor: pointer;}
a.filter-icon.take:hover, li.selected a.filter-icon.take { background: url('../images/sprite.png') no-repeat scroll -110px -79px transparent !important;}
.form .field1-input.time{padding:0px; height:47px;}
.form .field1-input.time img{display:block;}
